@using Capstone.Web.Models
@model ParkAndWeather

@{ 
    bool isFahrenheit = Session["tempType"].Equals("F");
}

<div class="body-content">
    <div class="text-center"><h2 class="green-text-header">@Model.Park.Name</h2></div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/@(Model.Park.Code.ToLower() + ".jpg")" />
            <h4>@Model.Park.State</h4>
            <br />
            <p>@Model.Park.Description</p>
            <br />
            <h4>Founded in @Model.Park.YearFounded</h4>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Park Acreage</h4>
                    @Model.Park.Acreage.ToString("N0") Acres
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Park Elevation</h4>
                    @Model.Park.ElevationInFeet.ToString("N0") Feet
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Miles of Trail</h4>
                    @Model.Park.MilesOfTrail.ToString("N0") Miles
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Number of Campsites</h4>
                    @Model.Park.NumberOfCampsites.ToString("N0") Campsites
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Park Climate</h4>
                    @Model.Park.Climate
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Number of Annual Visitors</h4>
                    @Model.Park.AnnualVisitorCount.ToString("N0") Visitors
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Number of Animal Species</h4>
                    @Model.Park.NumberOfAnimalSpecies.ToString("N0") Species
                </div>
            </div>
            <div class="row">
                <div class="bs-callout bs-callout-success">
                    <h4>Entry Fee</h4>
                    @Model.Park.EntryFee.ToString("C")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="quote">
                    <div class="text-center">
                        <hr />
                        <h3>"@Model.Park.InspirationalQuote"</h3>
                        <h4>@Model.Park.InspirationalQuoteSource</h4>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var weather in Model.Weather)
        {
            DateTime dt = DateTime.Now.AddDays(weather.ForecastDay - 1);

            <div class="@(dt == DateTime.Now ? "col-md-4" : "col-md-2")">
                <div class="card daily-info-card">
                    <div class="weather">
                        @if (weather.Forecast == "rain")
                        {
                            <i class="wi wi-day-rain"></i>
                        }
                        @if (weather.Forecast == "partly cloudy")
                        {
                            <i class="wi wi-day-cloudy"></i>
                        }
                        @if (weather.Forecast == "cloudy")
                        {
                            <i class="wi wi-cloudy"></i>
                        }
                        @if (weather.Forecast == "thunderstorms")
                        {
                            <i class="wi wi-day-thunderstorm"></i>
                        }
                        @if (weather.Forecast == "sunny")
                        {
                            <i class="wi wi-day-sunny"></i>
                        }
                        @if (weather.Forecast == "snow")
                        {
                            <i class="wi wi-day-snow"></i>
                        }
                        <h3>H: <b>@(isFahrenheit ? weather.High : weather.HighCelcius)°@(isFahrenheit ? "F" : "C")</b>   L: <b>@(isFahrenheit ? weather.Low : weather.LowCelcius)°@(isFahrenheit ? "F" : "C")</b></h3>
                    </div>
                    <div class="date">@DateTime.Now.AddDays(weather.ForecastDay - 1).DayOfWeek</div>
                    <div class="text-gray">@weather.Advisory</div>
                </div>
            </div>
        }
    </div>
</div>