@using Capstone.Web.Models
@model ParkAndWeather

<div class="body-content">
    <div class="text-center"><h2 class="green-text-header">@Model.Park.Name</h2></div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6 detail-col">
            <img src="~/Content/@(Model.Park.Code.ToLower() + ".jpg")" />
            <h4>@Model.Park.State</h4>
            <br />
            <p>@Model.Park.Description</p>
            <br />
            <h4>Founded in @Model.Park.YearFounded</h4>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Park Acreage</h4>
                        @Model.Park.Acreage Acres
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Park Elevation</h4>
                        @Model.Park.ElevationInFeet Feet
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Miles of Trail</h4>
                        @Model.Park.MilesOfTrail Miles
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Number of Campsites</h4>
                        @Model.Park.NumberOfCampsites Campsites
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Park Climate</h4>
                        @Model.Park.Climate
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Number of Annual Visitors</h4>
                        @Model.Park.AnnualVisitorCount Visitors
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-callout bs-callout-success">
                        <h4>Number of Animal Species</h4>
                        @Model.Park.NumberOfAnimalSpecies Species
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="quote">
                    <div class="text-center">
                        <hr />
                        <h3>"@Model.Park.InspirationalQuote"</h3>
                        <h4>@Model.Park.InspirationalQuoteSource</h4>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var weather in Model.Weather)
    {
        <div class="col-lg-4">
            <div class="card daily-info-card">
                <div class="weather">
                    @if(weather.Forecast == "rain")
                    {
                        <i class="wi wi-day-rain"></i>
                    }
                     @if(weather.Forecast == "partly cloudy")
                    {
                        <i class="wi wi-day-cloudy"></i>
                    }
                     @if(weather.Forecast == "cloudy")
                    {
                        <i class="wi wi-cloudy"></i>
                    }
                     @if(weather.Forecast == "thunderstorms")
                    {
                        <i class="wi wi-day-thunderstorm"></i>
                    }
                     @if(weather.Forecast == "sunny")
                    {
                        <i class="wi wi-day-sunny"></i>
                    }
                     @if(weather.Forecast == "snow")
                    {
                        <i class="wi wi-day-snow"></i>
                    }
                    <h3>H: <b>@weather.High°</b>   L: <b>@weather.Low°</b></h3>
                </div>

                @if (weather.ForecastDay == 1)
            {
                <div class="date">Monday</div>
        }
                @if (weather.ForecastDay == 2)
            {
                <div class="date">Tuesday</div>
        }
                @if (weather.ForecastDay == 3)
            {
                <div class="date">Wednesday</div>
        }
                @if (weather.ForecastDay == 4)
            {
                <div class="date">Thursday</div>
        }
                @if (weather.ForecastDay == 5)
            {
                <div class="date">Friday</div>
        }
            </div>
        </div>

}
    </div>
    </div>